@using Payments.UI.Models
@inject UserSession Session

@if (Session.IsLoggedIn)
{
    <nav class="nav-menu">
        <NavLink href="/accounts">Accounts</NavLink>
        <NavLink href="/payments">Payment History</NavLink>
        <NavLink href="/makepayment">Make a Payment</NavLink>
    </nav>
}
