@page "/accounts"
@using Payments.UI.Models
@using Payments.UI.Services
@using System.Text.Json.Serialization
@inject UserService UserService
@inject AccountService AccountService
@inject HttpClient Http
@inject NavigationManager Nav

<h3>Accounts</h3>

<ul>
    @if (accounts != null)
    {
        foreach (var acct in accounts)
        {
            <li>
                <b>@acct.AccountName</b> — @acct.AccountNumber — Balance: $@acct.Balance
            </li>
        }
    }
</ul>

@code {
    List<Account>? accounts;
    UserModel? user;

    protected override async Task OnInitializedAsync()
    {
        user = UserService.User;

        if (user == null)
        {
            Nav.NavigateTo("/", true);
            return;
        }

        accounts = await AccountService.GetAccountsByAccountIds(user.Accounts);
    }
}