@page "/"
@using Payments.UI.Models
@using Payments.UI.Services
@inject NavigationManager Nav
@inject UserService UserService
@inject UserSession Session
@inject HttpClient Http

<h3>Login</h3>

<input @bind="EmailAddress" placeholder="Email Address" />
<input @bind="Password" type="password" placeholder="Password" />
<button @onclick="HandleLogin">Log In</button>

@if (Error != null)
{
    <p style="color:red">@Error</p>
}

@code {
    string EmailAddress = "";
    string Password = "";
    string? Error = null;

    private async Task HandleLogin()
    {
        var user = await UserService.LoginAsync(EmailAddress, Password, Http);
        if (user != null)
        {
            Session.SetUser(user);
            Nav.NavigateTo("/accounts");
        }
        else
        {
            Error = "Invalid credentials.";
        }
    }

}
